---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";

.site-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.trigger {
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.body {
    background-color: aliceblue;
}