---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";

.site-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media screen and (min-width: 600px){
    .site-nav {
        padding: 10px 0;
    }
}
.member-item {
    max-height: 150px;
}
