---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";

.site-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.page-link {
    position: absolute;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.site-header {
    background-color: black;
    color: #fafaff;
}
.page-content {
    background-color: #fafaff;
}
